/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--font-inter), sans-serif, serif;
    background-color: var(--background-color);
    color: var(--accent-color);
}

.page:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    background-image:
            repeating-linear-gradient(-90deg, var(--line-color-gradiend) 0, var(--line-color-gradiend) 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(var(--line-color-gradiend) 0, var(--line-color-gradiend) 2px, transparent 2px, transparent 4px),
            linear-gradient(180deg, var(--start-color-gradiend) 0.01%, var(--end-color-gradiend) 100%);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

.header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-family: var(--font-press);
    margin: 100px auto 0;
    width: clamp(375px, 100%, 696px);
    height: 375px;
    background-color: var(--background-color);
    border: var(--accent-color) 2px solid;
}

.header__section-info {
    grid-row-start: 2;
    grid-row-end: 3;
    place-self: end center;
    text-align: center;
}

.header__title {
    font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
    font-weight: 400;
    padding-bottom: 20px;
}

.header__subtitle {
    font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
    font-weight: 400;
}

.header__theme-menu {
    grid-row-start: 3;
    grid-row-end: 4;
    place-self: center;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.theme-menu__button {
    position: relative;
}

.theme-menu__button:disabled:before {
    content: '▶';
    position: absolute;
    left: -12px;
}

/* BLOCK MAIN */

.content {
    max-width: 696px; /* на время */
    margin: 100px auto 0;
}

.content__list__cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* CARD */

.content__list__card {
    background-color: var(--background-color);
    border: var(--accent-color) 2px solid;
    width: clamp(375px, 100%, 696px);
    max-height: 959px;
}

.content__list__card-title {
    font-size: 18px;
    font-weight: 700;
    padding: 4px 10px;
}

.card-content-text {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 25px;
}

.content__list__card-text {
    font-size: 18px;
    font-weight: 400;
}

.content__list__card-img {
    position: relative;
}

.card-img-text {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: var(--font-press);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-shadow:
            -1px 0 var(--text-stroke-color),
            0 1px var(--text-stroke-color),
            1px 0 var(--text-stroke-color),
            0 -1px var(--text-stroke-color);
    mix-blend-mode: hard-light;
}

@supports((-webkit-text-stroke: 1px #000000)) {
    .card-img-text {
        -webkit-text-stroke: 1px var(--text-stroke-color);
        text-shadow: none;
    }
}

.card-image {
    display: block;
    width: 100%;
    object-fit: contain;
    border-top: var(--accent-color) 2px solid;
    border-bottom: var(--accent-color) 2px solid;
}

.content__list__card-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: 25px;
    margin-block-end: 25px;
    gap: 12px;
}

.card__like-button {
    font-family: var(--font-press);
    font-size: 14px;
    font-weight: 400;
    width: 130px;
    height: 38px;
    border: var(--accent-color) 2px solid;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 102px;
}

.footer__button {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: clamp(305px, 100%, 335px);
    padding-block: 15px;
    font-family: var(--font-press);
    font-size: 14px;
    font-weight: 400;
    border: var(--accent-color) 2px solid;
}

.footer__button-icon {
    width: 21px;
    height: 21px;
}

@media (width <= 375px) {
    .header {
        height: 368px;
    }

    .content__list__card {
        min-height: 760px;
    }

    .footer__button {
        flex-direction: column;
    }
}