/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Filters */

.card-filter-brightness {
    filter: brightness(50%);
}

.card-filter-contrast {
    filter: contrast(120%);
}

.card-filter-blur {
    filter: blur(0.2rem);
}

.card-filter-grayscale {
    filter: grayscale(1);
}

.card-filter-sepia {
    filter: sepia(0.8);
}

.card-filter-invert {
    filter: invert(0.7);
}

.card-filter-multiple {
    filter: invert(0.7) saturate(200%) blur(0.1rem);
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--font-inter), fantasy;
    font-variation-settings: "wght" var(--font-weight-small);
    background-image:
            repeating-linear-gradient(-90deg, var(--line-color-gradiend) 0, var(--line-color-gradiend) 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(var(--line-color-gradiend) 0, var(--line-color-gradiend) 2px, transparent 2px, transparent 4px),
            linear-gradient(180deg, var(--start-color-gradiend) 0.01%, var(--end-color-gradiend) 100%);
    background-position: center;
    background-attachment: fixed;
    background-color: var(--background-color);
    color: var(--accent-color);
}

.button {
    font-family: var(--font-press), fantasy;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    box-shadow: 0 0 0 0 var(--accent-color);
    background-color: var(--background-color);
    transition: box-shadow ease 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease-in-out 0.5s;
}

.button:hover:after {
    transform: scaleX(1);
}

.button:focus {
    appearance: none;
    outline: none;
}

.button:focus-visible {
    box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button__text {
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    color: var(--color-button-text);
}

/*  HEADER  */

.header {
    display: grid;
    font-family: var(--font-press), fantasy;
    width: clamp(320px, 100%, 700px);
    margin: 100px auto 0;
    padding: 136px 0 25px;
    background-color: var(--background-color);
    border: var(--accent-color) 2px solid;
}

.header__section-info {
    place-self: end center;
    text-align: center;
}

.header__logo {
    display: block;
    font-size: clamp(2.5rem, 1.1842rem + 6.5789vw, 4.0625rem);
    font-weight: 400;
    padding-bottom: 20px;
    cursor: auto;
    outline: none;
    appearance: none;
    text-decoration: none;
}

.header__title {
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
    font-weight: 400;
    padding-bottom: 25px;
}

.header__theme-menu {
    place-self: center;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 14px;
}

.theme-menu__button {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    transition: color ease 0.3s;
    text-transform: uppercase;
    padding: 0;
    text-align: left;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
    color: var(--accent-color-opacity);
}

.theme-menu__button:disabled:before {
    content: '▶';
    position: absolute;
    inset-inline-start: -24px;
    inset-block-start: 0;
    color: var(--accent-color-opacity);
    animation:
            animation-menu-button
            alternate
            infinite
            ease-in-out
            0.5s;
}

.theme-menu__button:focus {
    outline: none;
    appearance: none;
    color: var(--accent-color-opacity);
}

.theme-menu__button:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color-opacity);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease 0.3s;
}

.theme-menu__button:focus-visible:after {
    transform: scaleX(1);
    color: var(--accent-color-opacity);
}

/* BLOCK MAIN */

.content {
    width: clamp(320px, 100%, 700px);
    margin: 100px auto 0;
}

.content__list__cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* CARD */

.content__list__card {
    background-color: var(--background-color);
    border: var(--accent-color) 2px solid;
    width: clamp(320px, 100%, 700px);
}

.content__list__card-title {
    font-size: 18px;
    font-variation-settings: "wght" var(--font-weight-large);
    padding: 4px 10px;
    border-bottom: var(--accent-color) 2px solid;
}

.card-content-text {
    display: flex;
    flex-direction: column;
    line-height: 21px;
    gap: 27px;
    border-top: var(--accent-color) 2px solid;
    padding: 25px 25px;
}

.content__list__card-text {
    font-size: 18px;
}

.content__list__card-img {
    position: relative;
}

.card-img-text {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: var(--font-press), fantasy;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-shadow:
            0 0 1 var(--text-stroke-color);
    mix-blend-mode: hard-light;
    z-index: 1;
}

@supports (text-stroke: 1px var(--text-stroke-color)) or
  (-webkit-text-stroke: 1px var(--text-stroke-color)) {
    .card-img-text {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--text-stroke-color);
        text-stroke: 1px var(--text-stroke-color);
    }
}

.card-image {
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

.content__list__card-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: 25px;
    margin-block-end: 25px;
    gap: 6px;
}

.card__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border: transparent 2px solid;
    transition: border ease 0.3s;
    padding: 0;
}

.card__icon-button:focus {
    appearance: none;
    outline: none;
}

.card__icon-button:focus-visible {
    border: var(--accent-color) 2px solid;
}

.card__like-button {
    min-width: 130px;
    min-height: 38px;
    border: var(--accent-color) 2px solid;
}

/*  DIALOG  */

.dialog[open] {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: var(--background-color);
    border: var(--accent-color) 2px solid;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: start;
}

.dialog-icon {
    mix-blend-mode: normal;
    color: var(--accent-color);
}

.dialog__text {
    font-family: var(--font-press), fantasy;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    max-width: 234px;
    width: 100%;
    color: var(--accent-color);
}

.dialog__form {
    width: 100%;
}

.dialog__button {
    width: 100%;
    min-height: 38px;
    border: var(--accent-color) 2px solid;
}

.dialog .button__text {
    text-transform: uppercase;
}

/* BUTTON SAVE */

.button-save {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    /*width: clamp(306px, 100%, 338px);*/
    padding: 15px 20px;
    border: var(--accent-color) 2px solid;
    place-self: center;
    margin: 50px auto 103px;
}

.button-save-icon {
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    flex-shrink: 1;
    color: var(--color-button-text);
}

@media (width <= 375px) {
    .header {
        padding: 120px 0 25px;
    }

    .dialog[open] {
        padding: 30px 38px;
    }

    .dialog__text {
        max-width: 198px
    }

    .button-save {
        flex-direction: column;
    }

    .button-save-icon {
        width: 28px;
        height: 28px;
    }
}