/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --background-color: #fff;
    --accent-color: rgba(0, 0, 0, 1);
    --accent-color-opacity: rgba(0, 0, 0, 0.6);
    --color-button-text: rgba(255, 255, 255, 1);
    --color-heart-contour: rgba(0, 0, 0, 1);

    --line-color-gradiend: #d3d3d3;
    --start-color-gradiend: #e7e7e7;
    --end-color-gradiend: #1a1a1a;

    --text-stroke-color: #fff;
}

:root.theme-dark {
    --background-color: #000;
    --accent-color: rgba(0, 204, 20, 1);
    --accent-color-opacity: rgba(0, 204, 20, 0.6);
    --color-button-text: rgba(0, 204, 20, 1);
    --color-heart-contour: rgba(0, 204, 20, 1);

    --line-color-gradiend: #000;
    --start-color-gradiend: #007f0c;
    --end-color-gradiend: #004306;

    --text-stroke-color: #000;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fff;
        --accent-color: rgba(0, 0, 0, 1);
        --accent-color-opacity: rgba(0, 0, 0, 0.6);
        --color-button-text: rgba(255, 255, 255, 1);
        --color-heart-contour: rgba(0, 0, 0, 1);

        --line-color-gradiend: #d3d3d3;
        --start-color-gradiend: #e7e7e7;
        --end-color-gradiend: #1a1a1a;

        --text-stroke-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --accent-color: rgba(0, 204, 20, 1);
        --accent-color-opacity: rgba(0, 204, 20, 0.6);
        --color-button-text: rgba(0, 204, 20, 1);
        --color-heart-contour: rgba(0, 204, 20, 1);

        --line-color-gradiend: #000;
        --start-color-gradiend: #007f0c;
        --end-color-gradiend: #004306;

        --text-stroke-color: #000;
    }
}