/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-inter: 'Inter var';
    --font-press: 'Press Start 2P';
    --font-weight-title: 400;
    --font-weight-text: 700;
    --line-color-gradiend: #d3d3d3;
    --start-color-gradiend: #e7e7e7;
    --end-color-gradiend: #1a1a1a;
    --background-color: #fff;
    --accent-color: rgba(0, 0, 0, 1);
    --accent-color-opacity: rgba(0, 0, 0, 0.6);
    --color-button-text: rgba(255, 255, 255, 1);
    --text-stroke-color: #fff;

    --color-heart-main: transparent;
    --color-heart-core: transparent;
    --color-heart-contour: rgba(0, 0, 0, 1);
}