/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-inter: 'Inter var';
    --font-press: 'Press Start 2P';
    --font-weight-title: 400;
    --font-weight-text: 700;
}